<?xml version="1.0"?>
<config>
    <modules>
        <HC_Ppp>
            <version>1.1.3</version>
        </HC_Ppp>
    </modules>

    <frontend>
        <layout>
            <updates>
                <ppp module="HC_Ppp">
                    <file>ppp.xml</file>
                </ppp>
            </updates>
        </layout>
        
        <routers>
            <ppp>
                <use>standard</use>
                <args>
                    <module>HC_Ppp</module>
                    <frontName>fppp</frontName>
                </args>
            </ppp>
        </routers>

        <translate>
            <modules>
                <HC_Ppp>
                    <files>
                        <default>HC_Ppp.csv</default>
                    </files>
                </HC_Ppp>
            </modules>
        </translate>
    </frontend>

    <global>
        <models>
            <ppp>
                <class>HC_Ppp_Model</class>
                <resourceModel>ppp_mysql4</resourceModel>
            </ppp>
            <ppp_mysql4>
                <class>HC_Ppp_Model_Mysql4</class>
            </ppp_mysql4>
        </models>
        <blocks>
            <ppp>
                <class>HC_Ppp_Block</class>
            </ppp>
        </blocks>
        <helpers>
            <ppp>
                <class>HC_Ppp_Helper</class>
            </ppp>
        </helpers>
        <resources>
            <ppp_setup>
                <setup>
                    <module>HC_Ppp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ppp_setup>
            <ppp_setup>
                <connection>
                    <use>core_write</use>
                </connection>
            </ppp_setup>
            <ppp_setup>
                <connection>
                    <use>core_read</use>
                </connection>
            </ppp_setup>
        </resources>
        <events>
            <catalog_category_save_after>
                <observers>
                    <category_observer>
                        <type>singleton</type>
                        <class>ppp/observer</class>
                        <method>categorySaved</method>
                    </category_observer>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
                <observers>
                    <category_del_observer>
                        <type>singleton</type>
                        <class>ppp/observer</class>
                        <method>categoryDeleted</method>
                    </category_del_observer>
                </observers>
            </catalog_category_delete_after>
        </events>
    </global>

    <admin>
        <routers>
            <ppp>
                <use>admin</use>
                <args>
                    <module>HC_Ppp</module>
                    <frontName>admin_ppp</frontName>
                </args>
            </ppp>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <ppp>
                    <file>hc_ppp.xml</file>
                </ppp>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ppp>
                                            <title>aheadWorks - Product Preview Pro</title>
                                        </ppp>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <ppp>
            <ppp_configuration>
                <delaybeforedisplay>500</delaybeforedisplay>
            </ppp_configuration>
        </ppp>
    </default>
</config>